body{
    font-family: tahoma, arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

#principal{
    width: 1024px;
    margin:  40px auto;
    background-color: whitesmoke;
}

.header-top{
    height: 140px;
    background-color: #e4e6ee;
    position: relative;
    box-shadow: 2px 2px 4px;
}

.header-nav{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
}

.header-nav li{
    list-style: none;
    display: inline-block;
    margin: 5px;
    margin-top: 5px;
    padding: 8px;
}

.perfil{
  padding: 35px;
  display: inline-flex;
  gap: 20px;
}

.shop{
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}

.header-nav ul{
    margin: 0;
    padding: 0;
}

.header-nav a{
    padding: 7px;
    color: #425564;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-right: 20px;
    font-size: 15px;
    letter-spacing: 5px;
    transition: border .3s linear;
}



.header-nav a:hover{
    border: 1px solid #ccc;
    border-radius: 1rem;
    box-shadow:  0px 0px 26px 12px rgba(255,255,255,1);
    text-decoration: none;
}

.logotipo{
    width: 150px;
    position: absolute;
    left: 45%;
}



.carousel-caption {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    /* display: none;  remove comment to hide captions */
  }
  
  .carousel-control {
    text-shadow: 0;
  }
  
  .carousel-control.left {
      background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
      background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
      background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,00001)));
      background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
  }
  
  .carousel-control.right {
      background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
      background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%);
      background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,00001)));
      background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 100%) !important;
  }

  .cards {
    max-width: 960px;
    margin: 0 auto 30px;
  }

  article {
    position: relative;
  }
  
  .article-img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 2px 3px;
  }
  
  .article-title {
    position: relative;
    bottom: 0;
    width: 100%;
    
    
  }

  .cat{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    text-align: center;
    padding: 30px;
  }


.rodape{
    background-color: #e4e6ee;
    height: 100%;
    color: #425564;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    box-shadow: 0px -8px 21px -3px rgba(0,0,0,0.59);
}

footer p{
    line-height: 0.5;
    color: #425564;
    padding: 10px;
}

footer p:hover{
    cursor: pointer;
    color: rgba(0, 70, 136, 0.61);
    transition: 1s;
}

.foot{
    display: flex;
    flex-direction: column;
    
}


.icon-redes a{
    width: 35px;
    height: 35px;
    color: #425564;
    background-color: #343336;
    border-radius: 50%;
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


  @media (min-width: 700px) {
    .leading {
       display: flex;
       align-items: center;
     }
   }
   
   
   /* Grid styles -------------------------------------------------*/
   .cards {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     grid-gap: 30px;
   }

   
  

  
